body {
    padding: 50px;
    max-width: 1800px;
    margin: 0 auto;
    background-color: #19142c;
    color: white;
}

* {box-sizing: border-box}
  input[type=text], input[type=number] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
button {
    background-color: #097baf;
    color: white;
    padding: 16px 30px;
    margin: 8px 0;
    /* border: 2px; */
    cursor: pointer;
    width: 100%;
    opacity: 1;
}

.cancelbtn {
    background-color: #cc342a;
}

.cancelbtn, .submitbtn {
    float: left;
    width: 50%;
}


/* .control form button {
    font-size: 16px;
    color: white;
    padding: 10px 15px;
    margin-left: 10px;
    /* float: left;
    width: 100%; */
    /* border-radius: 3px;
    border: 1px solid #492f7a; */
/* } */ 

.searchbtn, .createbookbtn {
    float: left;
    width: 50%;
}

/* The Create Modal (background) */
.create_modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.637); /* Black w/ opacity */
    padding-top: 50px;
}

/* Create Modal Content */
.create_form {
    background-color: #19142c;
    margin: 5px auto;
    border: 1px solid rgb(117, 116, 116);
    width: 70%;
    height: 90%;
}

.container {
    margin: auto;
    width: 90%;
    /* padding: 50px; */
}

/* The Close Button */
.close {
    cursor: pointer;
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.list {
    display: grid;
    grid-gap: 30px 20px;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
}

.book {
    padding: 40px 10%;
}

.upratebtn, .downratebtn {
    float: left;
    width: 50%;
}

h1 {
    padding: 0 0 15px 0;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}